#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.services, h1, h2, h3 {
    text-align:center;
}

.logo {
    height:35px;
}

html,
body,
.view {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
}

p, span {
    font-family: 'Didact Gothic';
}

.view {
    background: url("https://carecoordinated.files.wordpress.com/2014/11/veterans-day-image.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.searchBar {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchBar h1 {
    color:white;
}

.tech {
    display:block;
    margin:auto;
}

.search h1 {
    padding-top:100px;
}

.services li, .services h3 {
    list-style-type: none;
    text-align: left;
}

img.check {
    float:right;
}

.navbar-default {
    background-color:white;
}

.navbar-brand {
    padding: 8px 0px 5px 0px;
}

.check {
    border:solid 2px;
    border-color: green;
      width: 36px;
    height:36px;
    border-radius: 5px;
    float:right;
  }
  
  .mark {
    display:none;
  }